{% if report %}
<table>
  <tr>
    <td>Company</td>
    <td>{{ report.name }} {{ report.cik}}</td>
  </tr>
  <tr>
    <td>Report</td>
    <td>{{ report.form }}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{ report.date }} {{ report.quarter }}</td>
  </tr>
</table>

<table>
  {% for field, row in table.items %}
  <tr>
    <td><b>{{ field }}</b></td>
    {% for date, value in row.items %}
    <td>{{ date }}</td><td align="right">{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{{ table }}
  

{% else %}
<p>Error: {{ error }}</p>
{% endif %}
