{% if report %}
<table>
  <tr>
    <td>Company</td>
    <td>{{ report.name }} {{ report.cik}}</td>
  </tr>
  <tr>
    <td>Report</td>
    <td>{{ report.form }}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{ report.date }} {{ report.quarter }}</td>
  </tr>
</table>

<table>
  {% for row in rec %}
  <tr><td>---</td></tr>
    {% for field in row %}
    <tr>
      <td>{{ field }}</td>
      <td>{{ row.field }}</td>
    </tr>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
  

{% else %}
<p>Error: {{ error }}</p>
{% endif %}
