<table>
  <tr>
    <td>Company</td>
    <td>{{ company }} {{ cik}}</td>
  </tr>
  <tr>
    <td>Form</td>
    <td>{{ form }}</td>
  </tr>
  <tr>
    <td>Report</td>
    <td>{{ report }}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>Q{{ q }}, {{ y }} </td>
  </tr>
</table>

{% if error %}
<div id="error">Error: {{ error }}</p>
{% endif %}

<p><a href="{% url 'reports-html' report quarter %}">Reports</a></p>

{% if table %}

<table>
  <tr>
    <td>&nbsp;</td>
    {% for start, end in dates %}
    <td><b>{{ start }}</b></td>
    <td><b>{{ end }}</b></td>
    {% endfor %}
  </tr>
  {% for field, row in table %}
  <tr>
    <td><b>{{ field }}</b></td>
    {% for value in row %}
    <td colspan="2" align="right">
      {{ value }}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}  

