{% if report %}
<table>
  <tr>
    <td>Company</td>
    <td>{{ report.name }} {{ report.cik}}</td>
  </tr>
  <tr>
    <td>Report</td>
    <td>{{ report.form }}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{ report.date }} {{ report.quarter }}</td>
  </tr>
</table>


<table>
  <tr>
    <td>&nbsp;</td>
    {% for date in dates %}
    <td><b>{{ date }}</b></td>
    {% endfor %}
  </tr>
  {% for field, row in table %}
  <tr>
    <td><b>{{ field }}</b></td>
    {% for value in row %}
    <td align="right">
      {{ value }}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
  

{% else %}
<p>Error: {{ error }}</p>
{% endif %}
